input[type=text] {
	padding: 0.5em;
	margin: 0.25em;

	&.val {
		width: 30em;
	}
}

.person {
	margin-left: 1em;

	&.child {
		border-left: solid 1px #333;
		padding-left: 1em;
	}
}

.button {
	cursor: pointer;
	background: #3498db;
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	border-radius: 7px;
	text-shadow: 1px 1px 3px #666666;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding: 8px 12px;
	text-decoration: none;

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
	&:hover {
		background: #3cb0fd;
		background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
		text-decoration: none;
	}

	&.delete {
		margin: 0 0.5em;
	}
}
